
<!DOCTYPE html> 
<html>
<head>
<title>Page Title</title>

<link rel="stylesheet" src="blockrain.css">
</head>
<body>

<div class="game" style="width:500px; height:500px;"></div>

<!-- jQuery and Blockrain.js -->
<script src="jquery.js"></script>
<script src="blockrain.js"></script>
<script src="blockrain.jquery.js"></script>
<script src="blockrain.jquery.min"></script>
<script>
  var $demo = $('.game').blockrain({
    speed: 20,
    blockWidth: 20,
    theme: 'custom',
    autoplay: false
  });

</script>

</body>
</html>



 